[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = master
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.9.5
[submodule "lib/tokenized-strategy-periphery"]
	path = lib/tokenized-strategy-periphery
	url = https://github.com/yearn/tokenized-strategy-periphery
	branch = master
[submodule "lib/tokenized-strategy"]
	path = lib/tokenized-strategy
	url = https://github.com/yearn/tokenized-strategy
	branch = v3.0.2-1
[submodule "lib/swap-helpers"]
	path = lib/swap-helpers
	url = https://github.com/0xNedAlbo/swap-helpers
	branch = v0.1.0
[submodule "lib/mock-tokens"]
	path = lib/mock-tokens
	url = https://github.com/0xNedAlbo/mock-tokens
